.logo {
    position: fixed;
    top: 5px;
    width: 48px;
    height: 48px;
}

#home {
    position: fixed;
    top: 5px;
    width: 64px;
    height: 52px;
    left: 10px;
}

#github {
    right: 10px;
}

#cwk {
    right: 65px;
}

#w3school {
    right: 120px;
}

h1 {
    text-align: center;
}